# === PYTHON / BACKEND JUNK ===
e-techhub-backend/venv/
e-techhub-backend/.venv/
**/__pycache__/
*.pyc
e-techhub-backend/.env

# === USER DATA / UPLOADS (SANGAT PENTING) ===
e-techhub-backend/uploads/

# === NODE / FRONTEND JUNK ===
e-techhub/node_modules/
e-techhub/build/
e-techhub/dist/
e-techhub/.env.local
e-techhub/.env.development.local
e-techhub/.env.production.local

# === SYSTEM JUNK ===
.DS_Store
.vscode/
.idea/

todo.txt